<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#f15f48" />
    <title>Dwimay</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
    <script src="https://Threejs.org/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://Threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/vic7awf.css" />
    <link href="app.5605789216279d3d6cab.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <div class="frame">
        <div class="frame__title-wrap">
          <h1 class="frame__title"></h1>
        </div>
        <div class="frame__scroll">scroll</div>
      </div>
      <div class="loader">
        <svg
          class="loader__icon"
          width="100"
          height="105"
          viewBox="0 0 100 105"
        >
          // here goes the loader
        </svg>
      </div>

      <div class="canvas-wrapper"></div>
      <div class="content">
        <h2 class="content__title">
          <span class="content__title-inner">Dwimay</span>
          <span class="content__title-sub">The Change</span>
        </h2>
      </div>
      <div class="content content--final">
        <p class="content__text">
          <a href="#">events</a></br>
          <a href="#">about</a></br>
          <a href="#">faq</a></br>
          <a href="#">Contact</a></br>
        </p>
      </div>
    </main>
    <script type="text/javascript" src="app.5605789216279d3d6cab.js"></script>
  </body>
</html>
