<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CSE Events</title>

    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function() {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this demo in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body class="demo-1 loading">
    <main>
      <div data-scroll class="page page--layout-2">
        <h1 class="page__title">CSE Events</h1>

        <div class="content content--full content--alternate">
          <div class="content__item content__item--wide">
            <span class="content__item-number">01</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/17.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">Cloud Computing</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy.
            </p>
          </div>
          <div class="content__item content__item--wide">
            <span class="content__item-number">02</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/21.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">Tech Hunt</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy.We don't have to be committed. We are
              just playing here.
            </p>
          </div>
          <div class="content__item content__item--wide">
            <span class="content__item-number">03</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/19.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">Cyber Security</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy.I thought today we would do a happy
              little picture.
            </p>
          </div>
          <div class="content__item content__item--wide">
            <span class="content__item-number">04</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/20.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">Hackathon</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy.Nature is so fantastic, enjoy it. Let it
              make you happy.
            </p>
          </div>
          <div class="content__item content__item--wide">
            <span class="content__item-number">05</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/18.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">Quantum Computing</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy. We need a shadow side and a highlight
              side.
            </p>
          </div>
          <div class="content__item content__item--wide">
            <span class="content__item-number">06</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/16.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">SheHacks</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy.We'll put some happy little leaves here
              and there.
            </p>
          </div>
          <div class="content__item content__item--wide">
            <span class="content__item-number">07</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/11.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">Tx</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy.With something so strong, a little bit
              can go a long way.
            </p>
          </div>
          <div class="content__item content__item--wide">
            <span class="content__item-number">08</span>
            <div class="content__item-imgwrap">
              <div
                class="content__item-img"
                style="background-image: url(img/4.jpg);"
              ></div>
            </div>
            <div class="content__item-deco"></div>
            <h2 class="content__item-title">Sd</h2>
            <p class="content__item-description">
              Little lorem loremtrees loremtrees Little lorem loremtrees
              loremtrees Little lorem loremtrees loremtrees loremtrees
              loremtrees loremtrees loremtrees and bushes grow however makes
              them happy. loremtrees Little lorem loremtrees loremtrees
              loremtrees loremtrees loremtrees loremtrees and bushes grow
              however makes them happy.There are no limits in this world.
            </p>
          </div>
          <p class="credits">
            Photography by
            <a href="https://www.instagram.com/byfoul/">Frankie Cordoba</a>
          </p>
        </div>
      </div>
    </main>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/demo.js"></script>
  </body>
</html>
